
body{
    background-color: yellow;}
li {
   list-style-type: none;
   background-color: blue;
   padding: 1%;
   float: left;
   
}
  
li :hover{

    color: aquamarine;
    background-color: rebeccapurple;
}

a{
    text-decoration: none;
}

