*{
   background-color: green;
}
body{
   width: 50%;
   margin: auto;
}

#lists{
   
   text-decoration: none;
   list-style-type: none;
   margin: 0%;
   padding: 2%;
   overflow: hidden;
   background-color: #333;
   float: left;
}
   
   
#lists a{
   text-decoration: none;
   color: red;
   opacity: 0.4;
   
}

#lists a:hover{
   color: aqua;
   opacity: 1;
   text-decoration: underline;
  
   
}

#blkpic{
   float: right;

}

#dollar{
   float: right;

}


  

   

   .sup a {
color: orange;
      text-decoration: none;
   }

   .sup :hover{
      color: cyan;
      text-decoration:underline;

   }
   