#lists{
   list-style-type: none;
   margin: 0%;
   padding: 2%;
   overflow: hidden;
   background-color: #333;
   float: left;
   border-right: 1px solid white;
}

#list a{
    text-decoration: none;
}
