

.flex-container{
    width: 80%;
    float: right;
    height: 700px;
    border: solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flexitem{
    width: 30%;
    margin: auto;
    height: 8%;
    border: solid black;
   margin-top: 0%;
  display: flex;
  justify-content: center;
}

.flex-container2{
    border: solid black;
    width: 15%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    height: 500px;
    justify-content: space-between;
    
}

.flexitem2{
    border: solid black;
    

}